---
interface Props {
  menu: Array<{ label: string; link: string }>;
}

import { Image } from 'astro:assets';

import AxolotlWhite from '@/assets/images/shared/axolotl-white.webp';
import InstagramIcon from '@/assets/icons/instagram.svg';
import XTwitterIcon from '@/assets/icons/x.svg';
import FacebookIcon from '@/assets/icons/facebook.svg';
import LinkedinIcon from '@/assets/icons/linkedin.svg';
import TikTokIcon from '@/assets/icons/tiktok.svg';

import { getLangFromUrl, useTranslations } from '@/libs/i18n/utils';

const { menu } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-[#212529]">
  <div
    class="max-w-7xl mx-auto p-3 md:pt-[90px] md:pb-6 lg:pb-[76px] flex flex-col md:flex-row justify-between md:flex-wrap xl:flex-nowrap"
  >
    <div class="px-5 py-[23px] md:min-w-[530px] flex-1">
      <Image
        src={AxolotlWhite}
        class="w-[125px]"
        width={284}
        height={249}
        alt="AxolotlCode"
      />
      <p class="text-white text-sm leading-6">
        {t('footer.description')}
      </p>
    </div>
    <div class="px-5 py-[23px] flex-grow">
      <span
        class="inline-block text-primary-300 font-bold text-xl leading-6 mb-[15px]"
        >{t('footer.menu.label')}</span
      >
      <ul class="flex flex-col gap-y-[15px]">
        {
          menu.map((item) => (
            <li>
              <a href={item.link} class="text-white text-sm">
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="px-5 py-[23px] flex-grow">
      <span
        class="inline-block text-primary-300 font-bold text-xl leading-6 mb-[15px]"
        >{t('footer.contact.label')}</span
      >
      <ul class="flex flex-col mb-[15px] gap-y-[15px] text-white text-sm">
        <li>{t('contact.contact.email-value')}</li>
        <li>
          <a href="tel:+525660072998" class="hover:underline">
            {t('contact.contact.phone-value')}
          </a>
        </li>
      </ul>
      <ul class="flex gap-x-5">
        <li>
          <a href="https://www.instagram.com/axolotl.code/">
            <Image src={InstagramIcon} width={29} height={29} alt="Instagram" />
          </a>
        </li>
        <li>
          <a href="https://x.com/AxolotlCode">
            <Image src={XTwitterIcon} width={29} height={29} alt="X-Twitter" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Axolotlcode">
            <Image src={FacebookIcon} width={29} height={29} alt="Facebook" />
          </a>
        </li>
        <li>
          <a
            href="https://mx.linkedin.com/in/axolotl-code-86b85732a?trk=public_post_feed-actor-name"
          >
            <Image src={LinkedinIcon} width={29} height={29} alt="Linkedin" />
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@axolotlcode0">
            <Image src={TikTokIcon} width={29} height={29} alt="TikTok" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="border-t border-[#DADADA]">
    <p class="text-center text-white py-[30px]">
      &copy; {new Date().getFullYear()}
      {t('footer.copyright.text')}
    </p>
  </div>
</footer>
