---
import i18next, { t } from 'i18next';
import Footer from '@/components/shared/footer.astro';
import { Header } from '@/components/shared/header';
import '@/styles/global.css';
// import { ClientRouter } from 'astro:transitions'; // Importación correcta
import { buildStaticPaths } from 'astro-react-i18next/utils';

interface Props {
  title: string;
}

export function getStaticPaths() {
  return buildStaticPaths();
}

const { title } = Astro.props;

const isHomePage = Astro.routePattern === '/' || Astro.routePattern === '/en';
const language = i18next.language;

const menu = [
  { label: t('header.home'), link: language !== 'es' ? `/${language}/` : '/' },
  {
    label: t('header.about-us'),
    link: language !== 'es' ? `/${language}/about` : '/about',
  },
  {
    label: t('header.services'),
    link: language !== 'es' ? `/${language}/plans` : '/plans',
  },
  {
    label: t('header.contact'),
    link: language !== 'es' ? `/${language}/contact` : '/contact',
  },
];
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="/favicon-light.ico"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/favicon-dark.ico"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ClientRouter /> -->
  </head>
  <body>
    <Header menu={menu} {isHomePage} client:load />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer menu={menu} />
  </body>
</html>
