---
import '@fontsource/poppins';
import '@/styles/global.css';

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from '@/libs/i18n/utils';

import Footer from '@/components/shared/footer.astro';
import ButtonSticky from '@/components/home/button-sticky.astro';
import { Header } from '@/components/shared/header';
import { Toaster } from 'sonner';

interface Props {
  title: string;
}

const { title } = Astro.props;

const isHomePage = Astro.routePattern === '/' || Astro.routePattern === '/en';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const menu = [
  {
    label: t('header.home'),
    link: translatePath('/'),
  },
  {
    label: t('header.about-us'),
    link: translatePath('/about'),
  },
  {
    label: t('header.services'),
    link: translatePath('/plans'),
  },
  {
    label: t('header.portfolio'),
    link: translatePath('/portfolio'),
  },
  {
    label: t('header.contact'),
    link: translatePath('/contact'),
  },
];
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={t('seo.description')} />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={t('home.title-page')} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.axolotlcode.tech/" />
    <meta
      property="og:image"
      content="https://www.axolotlcode.tech/_astro/axolotl-pink.DwH0Zdpo.webp"
    />
    <link rel="canonical" href="https://www.axolotlcode.tech/" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      href="/favicon-light.ico"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/favicon-dark.ico"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header menu={menu} {lang} {isHomePage} client:load />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer menu={menu} />
    <ButtonSticky />
    <Toaster client:load position="top-right" richColors />
  </body>
</html>
